@import url("/home/alien/.cache/wal/colors-waybar.css");

window {
    font-family: Fira Code Medium;
    font-size: 16pt;
    color: @color7; /* text */
    background-color: alpha(@background, 0.1);
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    background-color: rgba(200, 220, 255, 0);
    animation: gradient_f 20s ease-in infinite;
    border-radius: 60px; /* Increased border radius for a more rounded look */
}

button:focus {
    background-size: 30%;
	border: 0px;
    background-color: alpha(@color2,1.0);
    color: #1e1e2e;

}

button:hover {
    background-color: @color2;
    color: @color7;
    background-size: 40%;
    border-radius: 60px; 
    transition: all 0.3s cubic-bezier(.55, 0.0, .28, 1.682), box-shadow 0.2s ease-in-out, background-color 0.3s ease-in-out; 
	
}


#lock {
    background-image: image(url("./lock.png"));
}

#logout {
    background-image: image(url("./logout.png"));
}

#suspend {
    background-image: image(url("./sleep.png"));
}

#shutdown {
    background-image: image(url("./power.png"));
}

#reboot {
    background-image: image(url("./restart.png"));
}
#windows {
    background-image: image(url("./windows.png"));
}
