

/* Importing pywal colors */

@import url("~/.config/material-you/waybar-colors2.css");

window {
    font-family: Fira Code Medium;
    font-size: 10px;
    color:  @foreground; /* text */
    background-color: alpha(@dark-background,0.2);

} 

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    background-color: transparent;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s ease-in;
    box-shadow: 0 0 10px 2px transparent;
    border-radius: 36px;
    margin: 10px;
}

button:focus {
    box-shadow: none;
    background-size : 20%;
}

button:hover {
    background-size: 35%;
    box-shadow: 0 0 10px 3px rgba(0,0,0,.4);
    background-color: @dark-primary;
    color: transparent;
    transition: all 0.3s cubic-bezier(.55, 0.0, .28, 1.682), box-shadow 0.5s ease-in;
}

#shutdown {
    background-image: image(url("./icons/power.png"));
}
#shutdown:hover {
  background-image: image(url("./icons/power-hover.png"));
}

#logout {
    background-image: image(url("./icons/logout.png"));

}
#logout:hover {
  background-image: image(url("./icons/logout-hover.png"));
}

#reboot {
    background-image: image(url("./icons/restart.png"));
}
#reboot:hover {
  background-image: image(url("./icons/restart-hover.png"));
}

#lock {
    background-image: image(url("./icons/lock.png"));
}
#lock:hover {
  background-image: image(url("./icons/lock-hover.png"));
}

#sleep {
    background-image: image(url("./icons/sleep.png"));
}
#sleep:hover {
  background-image: image(url("./icons/sleep-hover.png"));
}
#hibernate {
  background-image: image(url("./icons/hibernate.png"));
}
#hibernate:hover {
  background-image: image(url("./icons/hibernate_hover.png"));
}

