
.brightness-icon{
    color: mix($dark-primary, $dark-on-secondary, 90%);
    padding: 0 6px 0 2px;
    font-size: 1.1rem;
  }
  .brightnessbar trough highlight {
    min-height: 8px;
    color: mix($dark-primary, $dark-on-secondary, 90%);
    border-radius: 5px;
  }
  .brightness-icon{
    color: mix($dark-primary, $dark-on-secondary, 90%);
    padding: 0 6px 0 2px;
    font-size: 1.1rem;
  }
  .brightness{
    margin: 0 4px;
  }  