@import "/home/alien/.config/material-you/colors.scss";


.eventBox {
  background:$dark-background;

  padding: 5px;

  .eventIcon {
    color:$dark-on-secondary;
    padding: 10px 12.5px;
    border-radius: 10px;
    font-size: 25px;
  }
  .eventIcon.default {
    background: $dark-error-container;
  }

  .eventIcon.mid {
    background-image: linear-gradient(45deg, $dark-outline, $dark-error);
  }

  .eventIcon.high {
    background: $dark-error;
  }

  .eventContent {
    color: $dark-surface-bright;
  }
}

// Calendar styles
.weatherMainBox {
  background:$dark-background;
  border: 0px solid $dark-inverse-on-surface;
  border-top-left-radius: 0px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 20px;



  .weatherWidget {
    
    border-radius: 10px;
    background: $dark-background;
    padding: 5px 10px;
  }

  .bigClock {
    font-size: 45px;
    padding-top: 0rem;
    color: $dark-primary;


  }
  .date {
    font-size: 10px;
    color: $dark-primary;


  }

  .weatherTop {
    > .icon {
      font-size: 100px;
    }
  }
  .weatherQuoteBox {
    
    padding: 5px 10px;
    // background: $base01;
    border-radius: 10px;

    .quoteTwo {
      font-family: roboto;
      font-style: italic;
      font-weight: bolder;
      color: $dark-on-secondary;
    }
  }

  .calendar {
    border-radius: 0px;
    font-size: 1.5rem;
  }

  calendar {
    color: $dark-primary;
    padding: 8px;

    .header {
      color: $dark-primary;
    }

    .button {
      color: transparent;
    }
  }

  calendar:indeterminate {
    color:$dark-inverse-on-surface;
  }

  calendar:selected {
    background-color: $dark-primary;
    border-radius:30%;
    padding-bottom: 10rem;
    color:$dark-background;
  }
}

.username {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

.uptime {
  color: $dark-on-surface-variant;
  font-size: 1rem;
}

.pfp-image {
  background-image: url("pfp.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 7rem;
  min-width: 7rem;
  padding-top: 0rem;
  margin-left: 2rem;
  border-radius: 50%;
}
.lowername {
  color: $dark-on-primary-container;
  margin-top: 0.5rem;
}

.name {
  background-color: transparent;
  color: $dark-primary;
  border-radius: 1rem;
  padding: 0 1rem;
  font-size: 2rem;
  margin: 0.35rem 0;
  margin-left: 0.5rem;
  transition: 0.3s;
}

.open-powermenu-button:hover {
  background-color: mix($dark-on-secondary, $dark-secondary, 70%);
}

