
.music {
    border-radius: 2rem;
    padding: 1rem;
    color: $dark-on-background;
    /*box-shadow: 0 0 4px 2px #000000;*/
    margin: 1rem;
    background-color:  $dark-on-secondary;
}

.music-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 7rem;
    min-width: 7rem;
    border-radius: 2rem;
}

.music-text {
    margin-left: 1rem;
    color: $dark-background;
    
}

.music-title {
    color: $light-inverse-primary;
    font-size: 1.4rem;
}

.music-artist {
    color:$dark-tertiary-fixed-dim;
    font-size: 1.1rem;
}

.music-name {
    background-color: $dark-primary;
    color: $dark-background;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
    font-size: 1rem;
}

.music-action {
    color: $dark-primary;
    font-size: 2rem;
    min-width: 3rem;
}

.music-scale {
    margin-top: 1rem;
}

.music-scale trough {
    background-color: $dark-background;
    border-radius: 1rem;
    min-height: 0.5rem;
}


.music-scale highlight {
    background-color:$dark-primary;
    border-radius: 1rem;
    min-height: 0.5rem;
}

.music-strtime {
    color: $dark-primary;
    margin-top: 0.25rem;
}