
.notifications-popup-body {
    @include window;
    min-width: 35rem;
    border-radius: 2rem;
    border: 0.2rem solid $dark-on-secondary;
    box-shadow: 0 0 0px 0px #000000;
    background-color: $dark-background;
    color: $dark-on-surface;
    padding: 0rem;
}
.notify-edge {
    background-color:$dark-background;
    padding: 0px;
    
    border-radius: 1rem;
    
}
.ncorner {
    background-color: transparent;
    padding: 5px;
    border-radius: 100%;
  
    &.left {
      box-shadow: 29px -25px 0px 0px $dark-background;

    }
  
    &.right {
      box-shadow: -29px -25px 0px 0px $dark-background;
    }
  }