.username {
    font-size: 1.5rem;
    margin-left: 0.5rem;
}

.uptime {
    color: $onSurfaceVariant;
    font-size: 1rem;
}

.user-image {
    background-image: url("pfp.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 6rem;
    min-width: 6rem;
    border-radius: 100%;
}

.open-powermenu-button {
    background-color: $dark-on-secondary;
    color: $dark-primary;
    border-radius: 1rem;
    padding: 0 1rem;
    margin: 0.35rem 0;
    margin-left: 0.5rem;
    transition: 0.3s;
}

.open-powermenu-button:hover {
    background-color: mix($dark-on-secondary, $dark-secondary, 70%);
}

.user-clock-time {
    font-size: 1.4rem;
}

.user-clock-separator {
    font-size: 1.4rem;
    margin: 0 0.25rem;
}

.user-clock-date {
    font-size: 1.2rem;
}

.open-settings-button {
    background-color: $dark-on-secondary;
    color: $dark-primary;
    border-radius: 1.5rem;
    padding: 0 1.2rem;
    margin: 0.35rem 0;
    margin-left: 0.5rem;
    transition: 0.3s;
    font-size: 1.2rem;
}

.open-settings-button:hover {
    background-color: mix($dark-on-secondary, $dark-secondary, 70%);
}
.weather-icon {
    color: $dark-primary;
    font-size: 2rem;
}
.weather-temp {
    color: $dark-on-background;
    font-size: 1.2rem;
    margin-left: 1rem;
}