
.workspaces {
    border-radius: 1rem;
    padding: 0.9rem;
    margin: 0 1rem;
    background-color: $dark-on-secondary;
}

.workspace {
    border-radius: 1rem;
    background-color: $dark-inverse-primary;
    margin: 0 0.25rem;
    padding: 0 0.8rem;
    transition: 0.3s;

    &.current {
        background-color: $dark-primary;
        padding: 0 2.3rem;
    }
}

.workspace:hover {
    background-color: mix($dark-on-primary, $dark-on-surface, 70%);
    &.current {
        background-color: mix($dark-primary, $dark-on-surface, 70%);
    }
}