// No rounded corners
.main-coverSlotCollapsed-navAltContainer
	border-radius: 0

// No padding on the left of playing bar
.main-nowPlayingBar-nowPlayingBar
	padding: 0 16px 0 0 

// Better positioning
.main-coverSlotCollapsed-container
	left: 4px
	padding-right: 4px
	top: 2px

// Bigger cover area
.main-nowPlayingWidget-coverArt > div
	width: 80px !important
	height: 80px !important

// Move more to the left when expanded
[dir=ltr] .main-nowPlayingWidget-coverExpanded
	transform: translateX(-84px)