// Remove create playlist and liked songs
// Access this via right click and library
div.GlueDropTarget.personal-library 
	display: none

// Remove text in
.main-yourLibraryX-navItem > a > span
	display: none

// Horizontal
#spicetify-sticky-list
	margin-left: auto
	margin-right: auto
	display: flex
	flex-wrap: wrap
	justify-content: center

// Thinner
.main-yourLibraryX-navItems
	padding-left: 10px
	height: 30px
	padding: 0

.main-navBar-navBarItem
	padding: 0 6px