// Don't show top bar backgrounds
.main-topBar-background
	background-color: var(--spice-main) !important
.main-userWidget-box
	background-color: var(--spice-main)

// Don't show top bar button
.main-topBar-topbarContent > .main-playButton-PlayButton
	display: none

// Centre top bar title and make it bigger
.main-entityHeader-topbarTitle
	margin: auto
	font-size: 35px

// Top button size matching
.main-topBar-button, .main-topBar-button:hover
	background-color: var(--spice-selected-row) !important
	height: 48px !important
	width: 48px !important

// Size matching
figure.main-avatar-avatar
	height: 48px !important
	width: 48px !important
figure.main-avatar-avatar > div
	height: 48px !important
	width: 48px !important

button.main-topBar-buddyFeed
	width: 48px
button.main-topBar-buddyFeed > svg
	height: 24px !important
	width: 24px !important


// Don't show buttons if they aren't available
.main-topBar-button:disabled
	opacity: 0 !important