@use 'cover'
@use 'duration'
@use 'gradient'
@use 'navbar'
@use 'rootlist'
@use 'tracks'
@use 'topbar'
@use 'home'
@use 'search'
@use 'bookmark'

// Change lyrics BG
div[style*="--lyrics-color"]
	--lyrics-color-passed: var(--spice-text) !important
	--lyrics-color-active: #fbf1c7 !important
	--lyrics-color-inactive: var(--spice-text) !important
	--lyrics-color-background: var(--spice-main) !important

// Subdued text color is normal
.encore-dark-theme, .encore-light-theme, .encore-inverted-light-set
	--text-subdued: var(--spice-text)
	--essential-subdued: var(--spice-text)
	--background-highlight: var(--spice-selected-row) !important

// Main color of text
:root
	--spice-rgb-selected-row: var(--spice-text)

// Context menu hover
.main-contextMenu-menuItemButton:hover
	background-color: var(--spice-selected-row)
// Context menu border
.main-contextMenu-menu
	border: var(--spice-selected-row) 3px solid


// Change reading prompt background
div[aria-label="Already added"] > div
	background-color: var(--spice-main)
	color: var(--spice-text)
// Change "Add anyway" color
div[aria-label="Already added"] > div > div > button.main-button-tertiary
	background-color: var(--spice-text)
	color: var(--spice-main)

// Gives liked a different bg
div.main-gridContainer-gridContainer > div[class^="main-heroCard-card"]
	background: var(--spice-selected-row)

// Make scrollbar transparent
.os-scrollbar
	opacity: 0 !important

// Remove unnecessary header from friend list
.main-buddyFeed-header
	display: none

// Friend list compress
.main-buddyFeed-friendActivity
	padding: 8px 0
.main-buddyFeed-avatarContainer
	top: 10px

// Profile tracks
div.main-rootlist-wrapper,
div.main-rootlist-wrapper:hover
	background-color: transparent !important

// Settings toggle inputs
span.x-toggle-indicatorWrapper
	width: 24px
	background-color: var(--spice-selected-row)
span.x-toggle-indicator
	display: none

// Vim key theming
.vim-key
	background-color: var(--spice-selected-row) !important
	border: solid 2px var(--spice-text) !important
	color: var(--spice-text) !important