@import url("/home/alien/.cache/wal/colors-waybar.css");

#window {
    margin: 0px;
    border-radius: 20px;
    background-color: alpha(@color0,0.8);
    color:   @foreground;
}

#input {
    margin: 15px;
    background-color: alpha(@color1, 1.0);
    color: @foreground;
    border-radius: 25px;
    border: 0px solid #83a598;
}

#scroll {
    margin-bottom: 15px;
}

#entry {
    margin: 0px 15px;
}

#entry:selected {
    /*background-color: /*rgb(245, 98, 36);*/
    background-color:  alpha(@color1, 1.0);
    border-radius: 10px;
    border: none;
    outline: none;
}

#entry > box {
    margin-left: 16px;
}


#entry image {
    padding-right: 10px;
}



