.expand {
    background-color: $light-secondary-fixed-dim;
    color: $light-on-background;
    font-size: 1.25rem;
    padding: 0 1.2rem;
    margin: 0 0.75rem;
    margin-top: 0.2rem;
    border-radius: 1rem;
    transition: 0.3s;
}
.expand:hover {
    background-color: mix($light-surface-variant, $light-on-surface-variant, 70%);
}