@import "/home/alien/.config/material-you/colors.scss";

.indicator {
    background-color: $light-secondary-fixed-dim;
    color: $light-on-background;
    border-radius: 1rem;
    padding: 0rem 1.0rem;  // Corrected padding syntax
    margin: 0 0.5rem;
    margin-right: 0rem;
    transition: 0.3s;
}

.indicator-icon {
    margin: 0 0.6rem;
    font-size: 1.5rem;
}

.indicator:hover {
    background-color: mix($light-surface-variant, $light-on-surface-variant, 70%);
}

