@define-color foreground #fdf8ec;
@define-color background #010709;
@define-color cursor #fff4d5;

@define-color color0 #021117;
@define-color color1 #0b3a43;
@define-color color2 #43322a;
@define-color color3 #625050;
@define-color color4 #5e5f58;
@define-color color5 #785949;
@define-color color6 #6b5c66;
@define-color color7 #f5b79f;
@define-color color8 #0a4761;
@define-color color9 #0d4853;
@define-color color10 #533e34;
@define-color color11 #7a6464;
@define-color color12 #75766e;
@define-color color13 #966f5b;
@define-color color14 #85737f;
@define-color color15 #fff4d5;
