@import url("/home/alien/.cache/material-you/waybar-colors.css");
* {
    font-family: "JetBrains Mono Nerd Font";
    /*font-family: "JetBrainsMono Nerd Font";*/
    font-weight: bold; 
    font-size: 15px;
}
menu,
tooltip {
  border-radius: 18px;
  padding: 2px;
  border: 1px solid @foreground;
  background: alpha(@background, 0.95);
  color: @foreground;
}
#custom-notification {
  font-family: "JetBrains Mono Nerd Font";
  font-size: 17px;
  color: @foreground;
  margin: 0 6 6 6px;
  padding:2 10 5  5px;
  background-color: alpha(@color4,0.3);
 border-radius:0 0 6 6px;
}

window#waybar {
    background: alpha(@background,0.95); 
  /*  border-radius: 15px; */
 /*  border: 2px solid #124323; */
/* border: 0px solid #A1BDCE; */
 border:0px solid @foreground;
 border-radius: 12px;
}

#workspaces button {
    font-weight: normal;
    background: rgba(23, 23, 23, 0.0);
        color: #2F302D;
}
#workspaces button {
    padding: 0px 0px;
    margin: 4px 11 0 11px;
    padding-top:0px;
    padding-bottom:0px;
    border-radius: 15px;
    border: 0px;
    color: @color4;
    background-color: @color4;
    transition: all 0.3s ease-in-out;
    opacity: 0.3;
}

#workspaces button.active {
    color: @color14;
    background: @color14;
    border-radius: 15px;
    min-height: 35px;
    transition: all 0.3s ease-in-out;
    opacity:1.0;
}

#workspaces button:hover {
    color: @background;
    background: @background;
    border-radius: 15px;
    opacity:0.5;
}



    #workspaces button:hover {
        color: @foreground;
        background: @foreground;
        border-radius: 15px;
        opacity:0.5;
    }

#taskbar button:hover {
    background: @wb-hvr-bg;
    color: @wb-hvr-color;
    animation: tb_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#tray menu * {
    min-height: 16px;
    font-weight: bold;
    font-size: 13px;
    color: @foreground;
    
}
#tray{
    color: @foreground;
background-color: alpha(@color4,0.3);
margin: 0 6 0 6px;
font-weight: normal;
font-size: 16px;
padding-top: 5px;
padding-right: 5px;
border-radius:6 6 0 0px;
}

#tray menu separator {
    min-height: 10px;
}


#custom-spacer{
opacity: 0.0;
}
#custom-smallspacer{
opacity: 0.0;
}


#custom-mouse{
font-size: 14px;
margin-bottom: 6px;
background:  #161320;
}


#custom-power{
    font-size: 15px;
    color: #FFFFFF;
    background:  rgba(22, 19, 32, 0.9);
    margin: 6px 0px 6px 0px;
    padding-left: 4px;
    padding-right: 4px;
    }

#backlight{
    color: @foreground;
    font-weight: normal;
    font-size: 17px;
    margin: 0px -10px 0px -10px;
    background-color: alpha(@color4,0.3);
    margin: 0 6 0 6px;
font-weight: normal;
padding-right: 0px;
padding-top: 2px;
border-radius:0px;
 
}
#bluetooth,
#custom-cliphist{
    color: #E6E7E7;
    background:  #161320;
    opacity: 1;
    margin: 4px 0px 4px 0px;
    padding-left: 4px;
    padding-right: 4px;
 
}
#battery{
    font-weight: normal;
    font-size: 22px;
    color: #a6d189;
    background:  rgba(23, 23, 23, 0.0);
    opacity: 1;
    margin: 0px 0px 0px 0px;
    padding-left: 0px;
    padding-right: 0px;
 
}

#idle_inhibitor{
color: #24966e;
background: @bar-bg;
    opacity: 1;
    margin: 4px 0px 4px 0px;
    padding-left: 4px;
    padding-right: 4px;

}
#clock{
    color: @foreground;
    font-size: 13px;
    font-weight: 900;
    font-family: "CaskaydiaCove Nerd Font Mono";
   /* font-family: "JetBrains Mono Nerd Font";*/
    background:alpha(@color4,0.3);
    opacity: 1;
    margin: 0 6 0 6px;
    padding-left: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 6px;
    border: none;
    
}
#pulseaudio{
    background-color: alpha(@color4,0.3);
font-weight: normal;
font-size: 15px;
color: @foreground;
padding-top: 4px;
margin: 0 6 0 6px;
}
#cpu{
font-weight: normal;
font-size: 22px;
color: #B1AC8F;
}
#custom-led{
background: #7DAEA3;
color: #262827;
margin-top: 7px;
margin-bottom: 7px;
padding-left: 0px;
border-radius: 7px;
margin-right: 0px;
}
#custom-gpuinfo,
#custom-keybindhint,
#language,
#custom-wallpaper,
#mode,
#idle_inhibitor,
#custom-expand,
#custom-expand2,
#custom-cycle_wall,
#custom-ss,
#custom-dynamic_pill,
#custom-music,
#memory{
font-weight: normal;
font-size: 22px;
color: #B1AC8F;
}
#mpris{
color: #B1AC8F;
animation: repeat;
	animation-name: blink;
	animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        color: #262827;
        
    }
}

#clock:hover,
#custom-music:hover,
#custom-icon1:hover,
#custom-icon2:hover,
#custom-icon3:hover,
#custom-icon4:hover,
#custom-icon5:hover,
#custom-icon6:hover,
#custom-power:hover{
    background-color: alpha(@color4,1.0);
    transition: all 0.3s ease-in-out; 
}
#custom-music{
    background-color: alpha(@color4,0.3);
    font-weight: normal;
    min-width: 00px;
    font-size: 10px; 
    border-radius: 6px;
    color: @foreground;
    margin: 6 0 6 8px;
    padding:4 0 4 0px;

}
#custom-wallpaper {
    color: @foreground;
    font-size: 13px;
    padding: 0 0 10 0px
}
#custom-expand {
    color: @foreground;
    font-size: 15px;
    padding: 0 4 5 1px
    
}
#custom-cycle_wall {
    color: @foreground;
    font-size: 15px;
    padding: 0 4 10 0px
}
#custom-ss {
    color: @foreground;
    font-size: 12px;
    padding: 0 0 10 0px
}
#custom-dynamic_pill_{
    color: @foreground;
    font-size: 15px;
}
#network{
color: @foreground;
background-color: alpha(@color4,0.5);
margin: 0 6 0 6px;
font-weight: normal;
font-size: 16px;
padding-top: 5px;
padding-left: 0px;
border-radius:6 6 0 0px;
}
#custom-notifications,
#custom-spotify,
#taskbar,
#custom-theme,
#custom-menu{
color: #B1AC8F;
background:  rgba(23, 23, 23, 0.0);
margin: 0px 0px 0px 0px;
    padding-left: 1px;
    padding-right: 1px;
    opacity: 0.1
}
#tray,
#custom-updates,
#custom-wallchange,
#custom-wbar,
#window{
font-family: "CaskaydiaCove Nerd Font Mono";
color: #7DAEA3;
padding-left: 5px;
}
#custom-l_end,
#custom-r_end,
#custom-sl_end,
#custom-sr_end,
#custom-rl_end,
#cava,
#disk,
#upower#headset,
#upower{
color: #a6d189;
margin: 8px 3px 3px 8px;
}
#mpris{
font-size: 15px;
font-weight: bold
}
#custom-rr_end {
font-weight: normal;
    color: #E8EDF0;
    background:  rgba(23, 23, 23, 0.0);
    opacity: 1;
    margin: 0px 0px 0px 0px;
    padding-left: 4px;
    padding-right: 4px;
  ;
    
}
#backlight-slider ,
#pulseaudio-slider{
    background-color: alpha(@color4,0.3);
    margin: 0 6 0 6px;
    padding: 0 0 10 0px
}

#backlight-slider slider,
#pulseaudio-slider slider {
  background: #A1BDCE;
  background-color: transparent;
  box-shadow: none;
  margin: -30px;
}

#backlight-slider trough,
#pulseaudio-slider trough {
  min-width: 9px;
  min-height: 90px;
  margin-bottom: -4px;
  border-radius: 8px;
  background: alpha(@background,0.8);
  margin-left: -4px;
  margin-right: -4px;
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
  border-radius: 8px;
  background-color: #2096C0;
}

#battery.charging, #battery.plugged {
	color: #E8EDF0;
	
}


#battery.critical:not(.charging) {
    color: red;
}


#taskbar {
    padding: 1px;
}
#disk {
    background-color: alpha(@color6,0.0);
    border-radius: 6px;
    font-size: 25px;
    color: @color14;
    margin: 0 6 0 0px;
    padding:0 0 2 0px;
    padding-top: 3px;
    padding-bottom: 3px;
}

/* Style for launchers */

#group-minimized {
    border-left: solid;
    border-left-width: 0.5;
}
