@import "/home/alien/.config/material-you/colors.scss";

.control-center {
    border-radius: 2rem;
    padding: 1rem;
    color: $dark-on-background;
    /*box-shadow: 0 0 6px 1px #000000; */
    margin: 1rem;
    background-color: $dark-background; // Use the SCSS variable
}
