.notifications {
  min-height: 0px;
  background-color: transparent;
}

.notif {
  background-color: #282828;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  border-width: 2;
  border-color: #fabd2f;
}

.notif image {
  padding-right: 10px;
}