:root {
  /* Dark Theme Colors */
  --dark-background: #191113;
  --dark-error: #ffb4ab;
  --dark-error-container: #93000a;
  --dark-inverse-on-surface: #372e30;
  --dark-inverse-primary: #8c4a5f;
  --dark-inverse-surface: #efdfe1;
  --dark-on-background: #efdfe1;
  --dark-on-error: #690005;
  --dark-on-error-container: #ffdad6;
  --dark-on-primary: #541d31;
  --dark-on-primary-container: #ffd9e2;
  --dark-on-primary-fixed: #3a071c;
  --dark-on-primary-fixed-variant: #703348;
  --dark-on-secondary: #422931;
  --dark-on-secondary-container: #ffd9e2;
  --dark-on-secondary-fixed: #2b151c;
  --dark-on-secondary-fixed-variant: #5b3f47;
  --dark-on-surface: #efdfe1;
  --dark-on-surface-variant: #d5c2c5;
  --dark-on-tertiary: #47290b;
  --dark-on-tertiary-container: #ffdcc1;
  --dark-on-tertiary-fixed: #2e1500;
  --dark-on-tertiary-fixed-variant: #613f1f;
  --dark-outline: #9e8c90;
  --dark-outline-variant: #514346;
  --dark-primary: #ffb1c7;
  --dark-primary-container: #703348;
  --dark-primary-fixed: #ffd9e2;
  --dark-primary-fixed-dim: #ffb1c7;
  --dark-scrim: #000000;
  --dark-secondary: #e3bdc6;
  --dark-secondary-container: #5b3f47;
  --dark-secondary-fixed: #ffd9e2;
  --dark-secondary-fixed-dim: #e3bdc6;
  --dark-shadow: #000000;
  --dark-surface: #191113;
  --dark-surface-bright: #413739;
  --dark-surface-container: #261d1f;
  --dark-surface-container-high: #31282a;
  --dark-surface-container-highest: #3c3234;
  --dark-surface-container-low: #22191b;
  --dark-surface-container-lowest: #140c0e;
  --dark-surface-dim: #191113;
  --dark-surface-tint: #ffb1c7;
  --dark-surface-variant: #514346;
  --dark-tertiary: #efbd93;
  --dark-tertiary-container: #613f1f;
  --dark-tertiary-fixed: #ffdcc1;
  --dark-tertiary-fixed-dim: #efbd93;
  /* Light Theme Colors */
  --light-background: #fff8f8;
  --light-error: #ba1a1a;
  --light-error-container: #ffdad6;
  --light-inverse-on-surface: #fdedef;
  --light-inverse-primary: #ffb1c7;
  --light-inverse-surface: #372e30;
  --light-on-background: #22191b;
  --light-on-error: #ffffff;
  --light-on-error-container: #410002;
  --light-on-primary: #ffffff;
  --light-on-primary-container: #3a071c;
  --light-on-primary-fixed: #3a071c;
  --light-on-primary-fixed-variant: #703348;
  --light-on-secondary: #ffffff;
  --light-on-secondary-container: #2b151c;
  --light-on-secondary-fixed: #2b151c;
  --light-on-secondary-fixed-variant: #5b3f47;
  --light-on-surface: #22191b;
  --light-on-surface-variant: #514346;
  --light-on-tertiary: #ffffff;
  --light-on-tertiary-container: #2e1500;
  --light-on-tertiary-fixed: #2e1500;
  --light-on-tertiary-fixed-variant: #613f1f;
  --light-outline: #837376;
  --light-outline-variant: #d5c2c5;
  --light-primary: #8c4a5f;
  --light-primary-container: #ffd9e2;
  --light-primary-fixed: #ffd9e2;
  --light-primary-fixed-dim: #ffb1c7;
  --light-scrim: #000000;
  --light-secondary: #74565e;
  --light-secondary-container: #ffd9e2;
  --light-secondary-fixed: #ffd9e2;
  --light-secondary-fixed-dim: #e3bdc6;
  --light-shadow: #000000;
  --light-source-color: #d46a8e;
  --light-surface: #fff8f8;
  --light-surface-bright: #fff8f8;
  --light-surface-container: #fbeaec;
  --light-surface-container-high: #f5e4e7;
  --light-surface-container-highest: #efdfe1;
  --light-surface-container-low: #fff0f2;
  --light-surface-container-lowest: #ffffff;
  --light-surface-dim: #e6d6d9;
  --light-surface-tint: #8c4a5f;
  --light-surface-variant: #f2dde1;
  --light-tertiary: #7c5634;
  --light-tertiary-container: #ffdcc1;
  --light-tertiary-fixed: #ffdcc1;
  --light-tertiary-fixed-dim: #efbd93;
}
