/* Thanks https://github.com/JaKooLit ! */

* {
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    min-height: 0;
    /* set font-size to 100% if font scaling is set to 1.00 using nwg-look */
    font-size: 97%;
    font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
    padding: 1px;
  
  }
  
  @import '../../.cache/wal/colors-waybar.css';
  
  window#waybar {
    transition-property: background-color;
    transition-duration: 0.5s;
    background: transparent;
    border-radius: 10px;
  }
  
  window#waybar.hidden {
    opacity: 0.2;
  }
  
  #waybar.empty #window {
    background: none;
  }
  
  /* This section can be use if you want to separate waybar modules */
  .modules-left, .modules-center, .modules-right {
      background: @background; 
       border: 0px solid @color7;
      padding-top: 2px;
      padding-bottom: 2px;
      padding-right: 10px;
      padding-left: 4px;
      margin-top: 3px;
      border-radius: 20px;
  
  } 
  
  .modules-left, .modules-right {
	  margin-right:5px;
	  margin-left:5px;
      padding-top: 2px;
      padding-bottom: 2px;
      padding-right: 10px;
      padding-left: 10px;
  } 
  
  #backlight,
  #backlight-slider,
  #battery,
  #bluetooth,
  #clock,
  #cpu,
  #disk,
  #idle_inhibitor,
  #keyboard-state,
  #memory,
  #mode,
  #mpris,
  #network,
  #pulseaudio,
  #pulseaudio-slider,
  #taskbar button,
  #taskbar,
  #temperature,
  #tray,
  #window,
  #wireplumber,
  #workspaces,
  #custom-backlight,
  #custom-cycle_wall,
  #custom-keybinds,
  #custom-keyboard,
  #custom-light_dark,
  #custom-lock,
  #custom-menu,
  #custom-power_vertical,
  #custom-power,
  #custom-swaync,
  #custom-updater,
  #custom-weather,
  #custom-weather.clearNight,
  #custom-weather.cloudyFoggyDay,
  #custom-weather.cloudyFoggyNight,
  #custom-weather.default, 
  #custom-weather.rainyDay,
  #custom-weather.rainyNight,
  #custom-weather.severe,
  #custom-weather.showyIcyDay,
  #custom-weather.snowyIcyNight,
  #custom-weather.sunnyDay,
  #custom-expand,
#custom-expand2,
#custom-cycle_wall,
#custom-ss,
#custom-dynamic_pill{
      padding-top: 3px;
      padding-bottom: 3px;
      padding-right: 6px;
      padding-left: 6px;
  }
  
  #idle_inhibitor {
    color: @color2;
  }
  
  #bluetooth,
  #backlight {
    color: @color1;
  }
  
  #battery {
    color: @cursor;
  }
  
  @keyframes blink {
    to {
      color: @color5;
    }
  }
  
  #battery.critical:not(.charging) {
    background-color: @color5;
    color: rgba(255,255,255,0.8);
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    box-shadow: inset 0 -3px transparent;
  }
  
  #clock {
    color: @color7;
  }
#custom-cycle_wall {
    background:@color0;
    color:@foreground;
}


#custom-expand {
    background-color: @color0;/* Use rgba for semi-transparent background */
    color: @color7;
}
#custom-expand2

#custom-notification {
    padding-right: 15px;
}
#custom-ss {
    background-color: @color0;
    color:@foreground;
}    

  
  
  #cpu {
    color: @color7 ;
  }
  
  #custom-keyboard,
  #memory {
    color: @color7;
  }
  
  #disk {
    color: @color7;
  }
  
  #temperature {
    color: @color1;
  }
  
  #temperature.critical {
    background-color: @color5;
  }
  
  #tray > .passive {
    -gtk-icon-effect: dim;
  }
  #tray > .needs-attention {
    -gtk-icon-effect: highlight;
  }
  
  #keyboard-state {
    color: @color2;
  }
  
  #workspaces button {
      box-shadow: none;
        text-shadow: none;
      color: @color7;

      padding: 0px;
      border-radius: 9px;
      padding-left: 10px;
      padding-right: 10px;
      animation: gradient_f 20s ease-in infinite;
      transition: all 0.6s cubic-bezier(.55,-0.68,.48,1.682);
  }
  
  #workspaces button:hover {
      border-radius: 10px;
      /* color: @overlay0; */
      background-color: alpha(@color1,0.2);
      animation: gradient_f 20s ease-in infinite;
      transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
  }
  
  #workspaces button.persistent {
      color: rgba(255, 255, 255, 0.2);
      border-radius: 10px;
  }
  
  #workspaces button.active {
    padding-right: 20px;
    text-shadow: transparent;
    padding-left: 20px;
    background-color:  @color1;
    color: @color0;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
    animation: gradient_f 20s ease-in-out infinite, gradient 10s ease infinite;
    font-weight: bolder;
}
  
  #workspaces button.urgent {
      color: @color5;
       border-radius: 0px;
  }
  
  #taskbar button.active {
      padding-left: 8px;
      padding-right: 8px;
      animation: gradient_f 20s ease-in infinite;
      transition: all 0.4s cubic-bezier(.55,-0.68,.48,1.682);
  }
  
  #taskbar button:hover {
      padding-left: 2px;
      padding-right: 2px;
      animation: gradient_f 20s ease-in infinite;
      transition: all 0.4s cubic-bezier(.55,-0.68,.48,1.682);
  }
  
  #custom-cava_mviz {
      color: @color1;
  }
  
  #custom-menu {
    color: @color6;
  }
  
  #custom-power {
    color: @color6;
  }
  
  #custom-updater {
    color: @color6;
  }
  
  #custom-light_dark {
    color: @color1;
  }
  
  #custom-weather {
    color: @color6;
  }
  
  #custom-lock {
    color: @color6;
  }
  
  #pulseaudio {
    color: @color6;
  }
  
  #pulseaudio.bluetooth {
    color: @color6;
  }
  #pulseaudio.muted {
    color: @color8;
  }
  
  #window {
    color: @color1;
  }
  
  #custom-waybar-mpris {
    color:@color1;
  }
  
  #network {
    color: @cursor;
  }
  
  #network.disconnected,
  #network.disabled {
    background-color: @color5;
    color: @text;
  }
  #pulseaudio-slider slider {
      min-width: 0px;
      min-height: 0px;
      opacity: 0;
      background-image: none;
      border: none;
      box-shadow: none;
  }
  
  #pulseaudio-slider trough {
      min-width: 80px;
      min-height: 5px;
      border-radius: 5px;
  }
  
  #pulseaudio-slider highlight {
      min-height: 10px;
      border-radius: 5px;
  }
  
  #backlight-slider slider {
      min-width: 0px;
      min-height: 0px;
      opacity: 0;
      background-image: none;
      border: none;
      box-shadow: none;
  }
  
  #backlight-slider trough {
      min-width: 80px;
      min-height: 10px;
      border-radius: 5px;
  }
  
  #backlight-slider highlight {
      min-width: 10px;
      border-radius: 5px;
  }
