@import "/home/alien/.config/material-you/colors.scss";
* {
    all: unset;
    font-family: "SF Pro Display Bold";
    box-shadow: 0 0 0 0rem;
    font-weight: bold;
}
@import "scripts/colors/colors.scss";
@import "scss/lib.scss";

@import "scss/bar.scss";
@import "scss/powermenu.scss";
@import "scss/launcher.scss";

@import "scss/control_center.scss";
@import "scss/notifications_popup.scss";



@import "scss/language.scss";
@import "scss/taskbar.scss";
@import "scss/clock.scss";
@import "scss/calendar.scss";
@import "scss/logo.scss";
@import "scss/quick_settings.scss";
@import "scss/user.scss";
@import "scss/volume.scss";
@import "scss/backlight.scss";
@import "scss/workspaces.scss";
@import "scss/tray.scss";
@import "scss/music.scss";
@import "scss/indicator.scss";
@import "scss/notifications.scss";
@import "scss/recorder_menu.scss";
@import "scss/picker.scss";
@import "scss/power.scss";
