/* Dark Theme SCSS */
$dark-background: #17130b;
$dark-error: #ffb4ab;
$dark-error-container: #93000a;
$dark-inverse-on-surface: #353027;
$dark-inverse-primary: #7a590c;
$dark-inverse-surface: #ece1d4;
$dark-on-background: #ece1d4;
$dark-on-error: #690005;
$dark-on-error-container: #ffdad6;
$dark-on-primary: #412d00;
$dark-on-primary-container: #ffdea7;
$dark-on-primary-fixed: #271900;
$dark-on-primary-fixed-variant: #5e4200;
$dark-on-secondary: #3c2e15;
$dark-on-secondary-container: #f7dfbb;
$dark-on-secondary-fixed: #251a04;
$dark-on-secondary-fixed-variant: #54452a;
$dark-on-surface: #ece1d4;
$dark-on-surface-variant: #d1c5b4;
$dark-on-tertiary: #1f361a;
$dark-on-tertiary-container: #ceebc1;
$dark-on-tertiary-fixed: #0a2007;
$dark-on-tertiary-fixed-variant: #354d2e;
$dark-outline: #9a8f80;
$dark-outline-variant: #4e4639;
$dark-primary: #edc06c;
$dark-primary-container: #5e4200;
$dark-primary-fixed: #ffdea7;
$dark-primary-fixed-dim: #edc06c;
$dark-scrim: #000000;
$dark-secondary: #dac4a0;
$dark-secondary-container: #54452a;
$dark-secondary-fixed: #f7dfbb;
$dark-secondary-fixed-dim: #dac4a0;
$dark-shadow: #000000;
$dark-surface: #17130b;
$dark-surface-bright: #3e382f;
$dark-surface-container: #241f17;
$dark-surface-container-high: #2f2921;
$dark-surface-container-highest: #3a342b;
$dark-surface-container-low: #201b13;
$dark-surface-container-lowest: #120e07;
$dark-surface-dim: #17130b;
$dark-surface-tint: #edc06c;
$dark-surface-variant: #4e4639;
$dark-tertiary: #b3cea7;
$dark-tertiary-container: #354d2e;
$dark-tertiary-fixed: #ceebc1;
$dark-tertiary-fixed-dim: #b3cea7;

/* Light Theme SCSS */
$light-background: #fff8f3;
$light-error: #ba1a1a;
$light-error-container: #ffdad6;
$light-inverse-on-surface: #faefe2;
$light-inverse-primary: #edc06c;
$light-inverse-surface: #353027;
$light-on-background: #201b13;
$light-on-error: #ffffff;
$light-on-error-container: #410002;
$light-on-primary: #ffffff;
$light-on-primary-container: #271900;
$light-on-primary-fixed: #271900;
$light-on-primary-fixed-variant: #5e4200;
$light-on-secondary: #ffffff;
$light-on-secondary-container: #251a04;
$light-on-secondary-fixed: #251a04;
$light-on-secondary-fixed-variant: #54452a;
$light-on-surface: #201b13;
$light-on-surface-variant: #4e4639;
$light-on-tertiary: #ffffff;
$light-on-tertiary-container: #0a2007;
$light-on-tertiary-fixed: #0a2007;
$light-on-tertiary-fixed-variant: #354d2e;
$light-outline: #807667;
$light-outline-variant: #d1c5b4;
$light-primary: #7a590c;
$light-primary-container: #ffdea7;
$light-primary-fixed: #ffdea7;
$light-primary-fixed-dim: #edc06c;
$light-scrim: #000000;
$light-secondary: #6d5c3f;
$light-secondary-container: #f7dfbb;
$light-secondary-fixed: #f7dfbb;
$light-secondary-fixed-dim: #dac4a0;
$light-shadow: #000000;
$light-source-color: #d2a652;
$light-surface: #fff8f3;
$light-surface-bright: #fff8f3;
$light-surface-container: #f7ecdf;
$light-surface-container-high: #f1e7d9;
$light-surface-container-highest: #ece1d4;
$light-surface-container-low: #fdf2e5;
$light-surface-container-lowest: #ffffff;
$light-surface-dim: #e3d8cc;
$light-surface-tint: #7a590c;
$light-surface-variant: #eee1cf;
$light-tertiary: #4c6544;
$light-tertiary-container: #ceebc1;
$light-tertiary-fixed: #ceebc1;
$light-tertiary-fixed-dim: #b3cea7;

