/* Dark Theme Colors */
@define-color dark-background #17130b;
@define-color dark-error #ffb4ab;
@define-color dark-error-container #93000a;
@define-color dark-inverse-on-surface #353027;
@define-color dark-inverse-primary #7a590c;
@define-color dark-inverse-surface #ece1d4;
@define-color dark-on-background #ece1d4;
@define-color dark-on-error #690005;
@define-color dark-on-error-container #ffdad6;
@define-color dark-on-primary #412d00;
@define-color dark-on-primary-container #ffdea7;
@define-color dark-on-primary-fixed #271900;
@define-color dark-on-primary-fixed-variant #5e4200;
@define-color dark-on-secondary #3c2e15;
@define-color dark-on-secondary-container #f7dfbb;
@define-color dark-on-secondary-fixed #251a04;
@define-color dark-on-secondary-fixed-variant #54452a;
@define-color dark-on-surface #ece1d4;
@define-color dark-on-surface-variant #d1c5b4;
@define-color dark-on-tertiary #1f361a;
@define-color dark-on-tertiary-container #ceebc1;
@define-color dark-on-tertiary-fixed #0a2007;
@define-color dark-on-tertiary-fixed-variant #354d2e;
@define-color dark-outline #9a8f80;
@define-color dark-outline-variant #4e4639;
@define-color dark-primary #edc06c;
@define-color dark-primary-container #5e4200;
@define-color dark-primary-fixed #ffdea7;
@define-color dark-primary-fixed-dim #edc06c;
@define-color dark-scrim #000000;
@define-color dark-secondary #dac4a0;
@define-color dark-secondary-container #54452a;
@define-color dark-secondary-fixed #f7dfbb;
@define-color dark-secondary-fixed-dim #dac4a0;
@define-color dark-shadow #000000;
@define-color dark-surface #17130b;
@define-color dark-surface-bright #3e382f;
@define-color dark-surface-container #241f17;
@define-color dark-surface-container-high #2f2921;
@define-color dark-surface-container-highest #3a342b;
@define-color dark-surface-container-low #201b13;
@define-color dark-surface-container-lowest #120e07;
@define-color dark-surface-dim #17130b;
@define-color dark-surface-tint #edc06c;
@define-color dark-surface-variant #4e4639;
@define-color dark-tertiary #b3cea7;
@define-color dark-tertiary-container #354d2e;
@define-color dark-tertiary-fixed #ceebc1;
@define-color dark-tertiary-fixed-dim #b3cea7;

/* Light Theme Colors */
@define-color light-background #fff8f3;
@define-color light-error #ba1a1a;
@define-color light-error-container #ffdad6;
@define-color light-inverse-on-surface #faefe2;
@define-color light-inverse-primary #edc06c;
@define-color light-inverse-surface #353027;
@define-color light-on-background #201b13;
@define-color light-on-error #ffffff;
@define-color light-on-error-container #410002;
@define-color light-on-primary #ffffff;
@define-color light-on-primary-container #271900;
@define-color light-on-primary-fixed #271900;
@define-color light-on-primary-fixed-variant #5e4200;
@define-color light-on-secondary #ffffff;
@define-color light-on-secondary-container #251a04;
@define-color light-on-secondary-fixed #251a04;
@define-color light-on-secondary-fixed-variant #54452a;
@define-color light-on-surface #201b13;
@define-color light-on-surface-variant #4e4639;
@define-color light-on-tertiary #ffffff;
@define-color light-on-tertiary-container #0a2007;
@define-color light-on-tertiary-fixed #0a2007;
@define-color light-on-tertiary-fixed-variant #354d2e;
@define-color light-outline #807667;
@define-color light-outline-variant #d1c5b4;
@define-color light-primary #7a590c;
@define-color light-primary-container #ffdea7;
@define-color light-primary-fixed #ffdea7;
@define-color light-primary-fixed-dim #edc06c;
@define-color light-scrim #000000;
@define-color light-secondary #6d5c3f;
@define-color light-secondary-container #f7dfbb;
@define-color light-secondary-fixed #f7dfbb;
@define-color light-secondary-fixed-dim #dac4a0;
@define-color light-shadow #000000;
@define-color light-source-color #d2a652;
@define-color light-surface #fff8f3;
@define-color light-surface-bright #fff8f3;
@define-color light-surface-container #f7ecdf;
@define-color light-surface-container-high #f1e7d9;
@define-color light-surface-container-highest #ece1d4;
@define-color light-surface-container-low #fdf2e5;
@define-color light-surface-container-lowest #ffffff;
@define-color light-surface-dim #e3d8cc;
@define-color light-surface-tint #7a590c;
@define-color light-surface-variant #eee1cf;
@define-color light-tertiary #4c6544;
@define-color light-tertiary-container #ceebc1;
@define-color light-tertiary-fixed #ceebc1;
@define-color light-tertiary-fixed-dim #b3cea7;

