@import url("/home/alien/.config/material-you/waybar-colors2.css");

#window {
    margin: 0px;
    border-radius: 18px;
    background-color: alpha(@light-surface-container-highest,1.0);
    color:@dark-on-background;

}

#input {
    margin: 10px;
    background-color: alpha(@light-primary, 0.7);
    color: @dark-on-background;
    border-radius: 25px;
    border: 0px solid #83a598;
}

#scroll {
    margin-bottom: 15px;
}

#entry {
    margin: 0px 10px;
}

#entry:selected {
    /*background-color: /*rgb(245, 98, 36);*/
    background-color:  alpha(@light-primary, 1.0);
    color: @dark-on-background;
    border-radius: 10px;
    border: none;
    outline: none;
}

#entry > box {
    margin-left: 16px;
}


#entry image {
    padding-right: 10px;
}



