@import "/home/alien/.config/material-you/colors.scss";
* {
    all: unset;
    font-family: "SF Pro Display Bold";
    box-shadow: 0 0 0 0rem;
    font-weight: bold;
}
@import "scripts/colors/colors.scss";
@import "scss/light/lib.scss";

@import "scss/light/bar.scss";
@import "scss/light/powermenu.scss";
@import "scss/light/launcher.scss";

@import "scss/light/control_center.scss";
@import "scss/light/notifications_popup.scss";



@import "scss/light/language.scss";
@import "scss/light/taskbar.scss";
@import "scss/light/clock.scss";
@import "scss/light/calendar.scss";
@import "scss/light/logo.scss";
@import "scss/light/quick_settings.scss";
@import "scss/light/user.scss";
@import "scss/light/volume.scss";
@import "scss/light/workspaces.scss";
@import "scss/light/tray.scss";
@import "scss/light/music.scss";
@import "scss/light/indicator.scss";
@import "scss/light/notifications.scss";
@import "scss/light/picker.scss";
@import "scss/light/power.scss";
@import "scss/light/weather.scss";
@import "scss/light/screenshot.scss";
@import "scss/light/expand.scss";
@import "scss/light/info.scss";

