
.logo {
    font-size: 2.2rem;
    font-weight: bolder;
    color: $surface;
    border-radius: 2rem;
    padding: 0 0 0 0.7rem;
    transition: 0.3s;
}

.logo-image {
    background-image: url("pfp.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 3rem;
    min-width: 3.2rem;
    margin-right: 1rem;
    border-radius: 100%;
}