
.volume-osd {
   @include window;
   background-color: $light-surface-container-highest ;
   box-shadow: 0 0 0 0px black;
   min-width: 25rem;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   border-bottom-left-radius: 0;
   border-bottom-right-radius: 0;
}

.volume-control-center {
    background-color: $light-surface-container-highest ;
    margin-top: 1rem;
    padding-left: 1rem;
}

.volume-scale trough {
    background-color: $light-secondary-fixed-dim;
    border-radius: 1rem;
    min-height: 2.25rem;
    
}


.volume-scale trough highlight {
    background-color: $light-primary;
    border-radius: 1rem;
    min-height: 2.25rem;
}

.volume-icon {
    margin-left: 0.75rem;
    font-size: 1.5rem;

    &.less {
        color: $light-on-surface;
    };

    &.more {
        color: $light-surface;
    };
}

.volume-arrow {
    color: $light-primary;
    margin-left: 0.5rem;
    font-size: 2rem;
    min-width: 2.25rem;
    border-radius: 2rem;
    transition: 0.3s;
}

.volume-arrow:hover {
    background-color: mix($light-surface, $light-on-surface, 70%);
}

.volume-mute {
    background-color: $light-secondary-fixed-dim;
    color: $light-on-surface;
    margin-left: 0.5rem;
    font-size: 1.5rem;
    min-width: 2.25rem;
    border-radius: 2rem;
    transition: 0.3s;

    &.active {
        background-color: $light-primary;
        color: $light-surface;
    }

    &.active:hover {
        background-color: mix($light-primary, $light-on-surface, 70%);
    }
}

.volume-mute:hover {
    background-color: mix($light-surface-variant, $light-on-surface-variant, 70%);
}
