
.workspaces {
    border-radius: 1rem;
    padding: 0.9rem;
    margin: 0 1rem;
    background-color:$light-secondary-fixed-dim;
}

.workspace {
    border-radius: 1rem;
    background-color:$light-tertiary;
    margin: 0 0.25rem;
    padding: 0 0.8rem;
    transition: 0.3s;

    &.current {
        background-color: $light-primary;
        padding: 0 2rem;
    }
}

.workspace:hover {
    background-color: mix($light-on-primary, $light-on-surface, 70%);
    &.current {
        background-color: mix($light-primary, $light-on-surface, 70%);
    }
}