@import "/home/alien/.config/material-you/colors.scss";

.bar-widget {
    @include window;
    background-color: $dark-background;
    padding: 0.8rem 0.8rem;
    box-shadow: 0 0 0 0rem;
    margin-bottom: 0.0rem;
    margin-left: 0rem;
    margin-right: 0rem;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.corner {
    background-color: transparent;
    padding: 25px;
    border-radius: 100%;
  
    &.left {
      box-shadow: -25px 30px 0px 0px $dark-background;

    }
  
    &.right {
      box-shadow: 25px 30px 0px 0px $dark-background;
    }
  }