@import "/home/alien/.config/material-you/colors.scss";

.notifications-popup-body {
    @include window;
    min-width: 35rem;
    border-radius: 2rem;
    border: 0.1rem solid $dark-primary;
    box-shadow: 0 0 4px 1px #000000;
    background-color: $dark-on-secondary;
    color: $dark-on-surface;
    padding: 0rem;
}
