@import url("/home/alien/.cache/wal/colors-waybar.css");

* {
    font-family: Iosevka, Material Design Icons;
    font-size: 14px;
}

window#waybar {
    background-color: transparent;
    transition-property: background-color;
    transition-duration: 0.5s;
}

#workspaces {
    background-color: @background;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
}

#workspaces button {
    box-shadow: rgba(0, 0, 0, 0.116) 2px 2px 5px 2px;
    background-color: @background;
    color: @foreground;
    border-radius: 15px;
    padding-top: 4px;
    padding-bottom: 2px;
    padding-right: 10px;
    font-weight: bolder;
    opacity: 0.9;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    padding-right: 20px;
    text-shadow: transparent;
    padding-left: 20px;
    padding-bottom: 3px;
    background-color:  @color7;
    color: rgba(29, 32, 33, 0.7);
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
    animation: gradient_f 20s ease-in-out infinite, gradient 10s ease infinite;
    font-weight: bolder;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Continue with similar corrections for other elements... */
#custom-weather,
#custom-audio_idle_inhibitor,
#custom-spotify,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#launcher,
#tray,
#mode,
#idle_inhibitor,
#custom-expand,
#custom-expand2,
#custom-cycle_wall,
#custom-ss,
#custom-dynamic_pill,
#modules-right,
#mpd {
    padding: 0 10px;
    border-radius: 15px;
    background-color: @green;
    color: @black;
    box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    font-weight: bolder;
}
#custom-cycle_wall {
    background: linear-gradient(118deg, 
    @color5, 
    @color7, 
    @color5, 
    @color7, 
    @color5, 
    @color7, 
    @color5, 
    @color7, 
    @color5);
background-size: 500% 500%;
animation: gradient 10s ease infinite;
    color:@foreground;
}


#custom-expand {
    background-color: @foreground;/* Use rgba for semi-transparent background */
    color: rgba(29, 32, 33, 0.9);
}
#custom-expand2

#custom-notification {
    padding-right: 15px;
}
#custom-ss {
    background-color: @background;
    color:@foreground;
}    



#custom-audio_idle_inhibitor {
 background: @yellow;
}

#custom-weather {
    background: @aqua
}
#custom-weather.severe {
    color: #eb937d;
}

#custom-weather.sunnyDay {
    color: @black;
}

#custom-weather.clearNight {
    color: @black;
}

#custom-weather.cloudyFoggyDay, #custom-weather.cloudyFoggyNight {
    color: @black;
}

#custom-weather.rainyDay, #custom-weather.rainyNight {
    color: @black;
}

#custom-weather.showyIcyDay, #custom-weather.snowyIcyNight {
    color: @black;
}

#custom-weather.default {
    color: @black;
}


#clock {
    background: rgb(168, 153, 132);
    background: @background;
    color:@foreground;
    background-size: 300% 300%;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.677);
    animation: gradient 20s ease infinite;
    font-weight: bolder;
    font-weight: bolder;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
#custom-notification {
    font-family: "NotoSansMono Nerd Font";
  }
  

#battery.charging {
    background-color:@background;
    color:@foreground;
    

}
#battery.plugged {
    background-color:@background;
    color:@foreground;
  
}

#battery {
    color:@foreground;
    background:@background;
    font-weight: bolder;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

@keyframes blink {
    to {
        background-color: @red;
        color: @black;
    }
}

#battery.critical:not(.charging) {
    background-color: @yellow;
    color: @black;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {       
     background:@background;
    background-size: 500% 500%;
    animation: gradient 10s ease infinite;
    text-shadow: #fbf1c7;
    margin-left: 10px;
    /* background-color: #b4befe; */
    color:@foreground;
}

#memory {
    background-color: #fecb53;
    color: @background;
    font-weight: bolder;
}
#custom-launcher {
    background-color: #fecb53;
    color: @background;
    font-weight: bolder;
}

#disk {
    background-color:@background;  /* Use rgba for semi-transparent background */
    font-weight: bolder;
    margin-left: 10px;
    color:@foreground;
}

#backlight {
    color:@foreground;
    background-color:@background;
   
}

#network {
    color:@foreground;
    background-color:@background;
   

}

#network.disabled {
    color:@foreground;
    background-color:@background;
  
}

#network.disconnected {
    color:@foreground;
    background-color:@background;
    font-weight: bolder;
    padding-top: 3px;
    padding-right: 11px;
  
}

#network.linked,
#network.wifi {
    color:@foreground;
    background-color:@background;
   
}

#network.ethernet {
    background-color:@background;
    color:@foreground;
    border: 2px @foreground solid;
}    

#pulseaudio {
    background-color: @background;
    color:@foreground;
        font-weight: bolder;
}
      

#pulseaudio.muted {
    background-size: 500% 500%;
    background-size: 500% 500%;
    animation: gradient 20s ease infinite;
    color: rgba(84, 82, 74, 0.7);
    background: @foreground;
    font-weight: bolder;
    
}

#custom-media {
    color:@foreground;
    background:@background;
    font-weight: bolder;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
    font-weight: bolder;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    color:@foreground;
    background:@background;
    font-weight: bolder;
}

#temperature.critical {
    background-color: #f38ba8;
    color: #bf5673;
}

#tray {
    color:@foreground;
    background-color:@background;
    font-weight: bolder;
}

#tray > .passive {
    color:@foreground;
    background-color:rgba(29, 32, 33, 0.7);
    font-weight: bolder;
  
}

#tray > .needs-attention {
    color:@foreground;
    background-color:rgba(29, 32, 33, 0.7);
    font-weight: bolder;
   
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;/*  */
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

