/* Dark Theme SCSS */
$dark-background: #12140e;
$dark-error: #ffb4ab;
$dark-error-container: #93000a;
$dark-inverse-on-surface: #2f312a;
$dark-inverse-primary: #506628;
$dark-inverse-surface: #e3e3d8;
$dark-on-background: #e3e3d8;
$dark-on-error: #690005;
$dark-on-error-container: #ffdad6;
$dark-on-primary: #243600;
$dark-on-primary-container: #d2ec9f;
$dark-on-primary-fixed: #131f00;
$dark-on-primary-fixed-variant: #394d12;
$dark-on-secondary: #2b331d;
$dark-on-secondary-container: #dde6c6;
$dark-on-secondary-fixed: #171e0a;
$dark-on-secondary-fixed-variant: #424a32;
$dark-on-surface: #e3e3d8;
$dark-on-surface-variant: #c5c8b9;
$dark-on-tertiary: #013733;
$dark-on-tertiary-container: #bcece5;
$dark-on-tertiary-fixed: #00201d;
$dark-on-tertiary-fixed-variant: #1f4e49;
$dark-outline: #8f9284;
$dark-outline-variant: #45483d;
$dark-primary: #b6d086;
$dark-primary-container: #394d12;
$dark-primary-fixed: #d2ec9f;
$dark-primary-fixed-dim: #b6d086;
$dark-scrim: #000000;
$dark-secondary: #c1caab;
$dark-secondary-container: #424a32;
$dark-secondary-fixed: #dde6c6;
$dark-secondary-fixed-dim: #c1caab;
$dark-shadow: #000000;
$dark-surface: #12140e;
$dark-surface-bright: #383a32;
$dark-surface-container: #1e2019;
$dark-surface-container-high: #292b23;
$dark-surface-container-highest: #34362e;
$dark-surface-container-low: #1a1c15;
$dark-surface-container-lowest: #0d0f09;
$dark-surface-dim: #12140e;
$dark-surface-tint: #b6d086;
$dark-surface-variant: #45483d;
$dark-tertiary: #a0d0c9;
$dark-tertiary-container: #1f4e49;
$dark-tertiary-fixed: #bcece5;
$dark-tertiary-fixed-dim: #a0d0c9;

/* Light Theme SCSS */
$light-background: #fafaee;
$light-error: #ba1a1a;
$light-error-container: #ffdad6;
$light-inverse-on-surface: #f1f1e6;
$light-inverse-primary: #b6d086;
$light-inverse-surface: #2f312a;
$light-on-background: #1a1c15;
$light-on-error: #ffffff;
$light-on-error-container: #410002;
$light-on-primary: #ffffff;
$light-on-primary-container: #131f00;
$light-on-primary-fixed: #131f00;
$light-on-primary-fixed-variant: #394d12;
$light-on-secondary: #ffffff;
$light-on-secondary-container: #171e0a;
$light-on-secondary-fixed: #171e0a;
$light-on-secondary-fixed-variant: #424a32;
$light-on-surface: #1a1c15;
$light-on-surface-variant: #45483d;
$light-on-tertiary: #ffffff;
$light-on-tertiary-container: #00201d;
$light-on-tertiary-fixed: #00201d;
$light-on-tertiary-fixed-variant: #1f4e49;
$light-outline: #75786b;
$light-outline-variant: #c5c8b9;
$light-primary: #506628;
$light-primary-container: #d2ec9f;
$light-primary-fixed: #d2ec9f;
$light-primary-fixed-dim: #b6d086;
$light-scrim: #000000;
$light-secondary: #596248;
$light-secondary-container: #dde6c6;
$light-secondary-fixed: #dde6c6;
$light-secondary-fixed-dim: #c1caab;
$light-shadow: #000000;
$light-source-color: #95c734;
$light-surface: #fafaee;
$light-surface-bright: #fafaee;
$light-surface-container: #eeefe3;
$light-surface-container-high: #e8e9dd;
$light-surface-container-highest: #e3e3d8;
$light-surface-container-low: #f4f4e9;
$light-surface-container-lowest: #ffffff;
$light-surface-dim: #dadbcf;
$light-surface-tint: #506628;
$light-surface-variant: #e2e4d4;
$light-tertiary: #396661;
$light-tertiary-container: #bcece5;
$light-tertiary-fixed: #bcece5;
$light-tertiary-fixed-dim: #a0d0c9;

