/* Dark Theme SCSS */
$dark-background: #191114;
$dark-error: #ffb4ab;
$dark-error-container: #93000a;
$dark-inverse-on-surface: #372e31;
$dark-inverse-primary: #894a67;
$dark-inverse-surface: #eedfe2;
$dark-on-background: #eedfe2;
$dark-on-error: #690005;
$dark-on-error-container: #ffdad6;
$dark-on-primary: #531d38;
$dark-on-primary-container: #ffd8e6;
$dark-on-primary-fixed: #390722;
$dark-on-primary-fixed-variant: #6e334e;
$dark-on-secondary: #412a33;
$dark-on-secondary-container: #fed9e5;
$dark-on-secondary-fixed: #2a151e;
$dark-on-secondary-fixed-variant: #593f4a;
$dark-on-surface: #eedfe2;
$dark-on-surface-variant: #d4c2c7;
$dark-on-tertiary: #49280f;
$dark-on-tertiary-container: #ffdcc6;
$dark-on-tertiary-fixed: #301400;
$dark-on-tertiary-fixed-variant: #633e23;
$dark-outline: #9d8c91;
$dark-outline-variant: #504348;
$dark-primary: #ffb0d0;
$dark-primary-container: #6e334e;
$dark-primary-fixed: #ffd8e6;
$dark-primary-fixed-dim: #ffb0d0;
$dark-scrim: #000000;
$dark-secondary: #e1bdc9;
$dark-secondary-container: #593f4a;
$dark-secondary-fixed: #fed9e5;
$dark-secondary-fixed-dim: #e1bdc9;
$dark-shadow: #000000;
$dark-surface: #191114;
$dark-surface-bright: #40373a;
$dark-surface-container: #261d20;
$dark-surface-container-high: #30282b;
$dark-surface-container-highest: #3c3235;
$dark-surface-container-low: #21191c;
$dark-surface-container-lowest: #130c0f;
$dark-surface-dim: #191114;
$dark-surface-tint: #ffb0d0;
$dark-surface-variant: #504348;
$dark-tertiary: #f1bb97;
$dark-tertiary-container: #633e23;
$dark-tertiary-fixed: #ffdcc6;
$dark-tertiary-fixed-dim: #f1bb97;

/* Light Theme SCSS */
$light-background: #fff8f8;
$light-error: #ba1a1a;
$light-error-container: #ffdad6;
$light-inverse-on-surface: #fdedf1;
$light-inverse-primary: #ffb0d0;
$light-inverse-surface: #372e31;
$light-on-background: #21191c;
$light-on-error: #ffffff;
$light-on-error-container: #410002;
$light-on-primary: #ffffff;
$light-on-primary-container: #390722;
$light-on-primary-fixed: #390722;
$light-on-primary-fixed-variant: #6e334e;
$light-on-secondary: #ffffff;
$light-on-secondary-container: #2a151e;
$light-on-secondary-fixed: #2a151e;
$light-on-secondary-fixed-variant: #593f4a;
$light-on-surface: #21191c;
$light-on-surface-variant: #504348;
$light-on-tertiary: #ffffff;
$light-on-tertiary-container: #301400;
$light-on-tertiary-fixed: #301400;
$light-on-tertiary-fixed-variant: #633e23;
$light-outline: #837378;
$light-outline-variant: #d4c2c7;
$light-primary: #894a67;
$light-primary-container: #ffd8e6;
$light-primary-fixed: #ffd8e6;
$light-primary-fixed-dim: #ffb0d0;
$light-scrim: #000000;
$light-secondary: #735761;
$light-secondary-container: #fed9e5;
$light-secondary-fixed: #fed9e5;
$light-secondary-fixed-dim: #e1bdc9;
$light-shadow: #000000;
$light-source-color: #df5a9c;
$light-surface: #fff8f8;
$light-surface-bright: #fff8f8;
$light-surface-container: #faeaee;
$light-surface-container-high: #f4e4e8;
$light-surface-container-highest: #eedfe2;
$light-surface-container-low: #fff0f3;
$light-surface-container-lowest: #ffffff;
$light-surface-dim: #e5d6da;
$light-surface-tint: #894a67;
$light-surface-variant: #f1dee3;
$light-tertiary: #7e5538;
$light-tertiary-container: #ffdcc6;
$light-tertiary-fixed: #ffdcc6;
$light-tertiary-fixed-dim: #f1bb97;

